header {
    background: rgba(211, 211, 211, 0.8);
    backdrop-filter: blur(10px);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

header a:hover {
    color: var(--accent-color);
}

.logo img {
    max-height: 50px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.install-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.install-button {
    background: var(--button-gradient);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.install-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.install-button i {
    margin-right: 8px;
}